<div class= "row">
	<div class="col-md-offset-4">
		<div class="col-md-6">
		  	<div class="page-header">
			  	<h1>Log in</h1>
			</div>
		  	<%= form_tag(:action => 'login_attempt') do %>
		  		<div class="form-group">
		    		<label for="username_or_email">Email address or Username</label>
					<%= text_field_tag :username_or_email, nil, :class => 'form-control' %>
				</div>
		  		<div class="form-group">
		    		<label for="login_password">Password</label>
		    		<%= password_field_tag :login_password, nil, :class => 'form-control' %></p>
		    	</div>
				<%= submit_tag "Log In", :class => "btn btn-info" %>
		  	<% end %>
		  	<% if flash[:notice] %>
			    <div class="notice"><%= flash[:notice] %></div>
			    <% flash[:notice] = nil %>
		  	<% end %>
		</div>
	</div>
</div>
